@model IEnumerable<HTMLSnippetShare.Models.HTMLCode>

@{
    ViewBag.Title = ViewBag.Username + "'s Snippets";
}

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<h2>@ViewBag.Username's Snippets</h2>

<br />
<div class="container text-success" style="text-align: center;">
    @(ViewBag.DeleteUserSnippetsMessage)&nbsp;
</div>
<br />

<table class="table sortable">
    <tr>
        <th class="center-text" style="width: 60px;">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="center-text" style="width: 56%;">
            @Html.DisplayNameFor(model => model.HTML)
        </th>
        <th class="center-text">
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th class="center-text">
            @Html.DisplayNameFor(model => model.Edited)
        </th>
        <th class="center-text">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="center-text">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="word-break: break-word;">
                @using System.Text.RegularExpressions;
                @{
                    Regex regex = new Regex("\\<[^\\>]*\\>");
                    string text = regex.Replace(item.HTML, String.Empty);
                    if (text.Length > 305)
                    {
                        text = item.HTML.Substring(0, item.HTML.Length - 4) + "...";
                    }
                    else
                    {
                        text = item.HTML;
                    }
                }
                @Html.Raw(text)
            </td>
            <td class="center-text">
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td class="center-text">
                @Html.DisplayFor(modelItem => item.Edited)
            </td>
            <td class="center-text">
                @Html.ActionLink("Edit", "Index", "Home", new { id = item.Id }, null) | @Html.ActionLink("Delete", "DeleteUserSnippet", "Admin", new { id = item.Id, username = (string)ViewBag.Username }, null)
            </td>
        </tr>
    }
</table>